<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="style.css">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Example</title>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, varname="decoupledmap", markers=[(37.4419, -122.1419)])}}
            {{circlemap.js}}

    </head>
    <body>
        <h1>Flask Google Maps Example</h1>

        Provide your Google Maps API Key to test it.
        Get you APIKEY in <a href="https://cloud.google.com/maps-platform/?apis=maps">https://cloud.google.com/maps-platform/?apis=maps</a>
        <form action="." method="GET">
            <input type="text" name="apikey" id="apikey"/><input type="submit" value="load"/>
        </form>
        <hr>

        <h2>Map with circle example</h2>

        {{ circlemap.html }}
        <style>
            #circlemap{
                height: 500px;
                width: 80%;
                margin: 0;
             }
        </style>
    </body>
</html>
