<!DOCTYPE html>
<html>

<head>
    <!-- SCSS -->
    <link rel="stylesheet" href="style.scss">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Revolution</title>

</head>

<body>
    <nav>
        <div class="container">
            <a class="logo" href="index.html">
                <span class="lite">Revolution</span>
            </a>
            <div class="links">
                <a href="source" target="_blank">Link1</a>
                <a href="source" target="_blank">Link1</a>
                <a href="source" target="_blank">Link1</a>
            </div>
        </div>
    </nav>
    <h1>Revolution</h1>

    <a href="nearMe">Near Me</a>

</body>

</html>
