<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Revolution</title>
    {{"decoupled-map"|googlemap_js(37.4419, -122.1419, varname="decoupledmap", markers=[(37.4419, -122.1419)])}}
    {{circlemap.js}}

</head>

<body>
    
    <!-- <form action="." method="GET">
        <input type="text" name="apikey" id="apikey" /><input type="submit" value="load" />
    </form>
    <hr> -->

    <h2>Map with circle example</h2>

    {{ circlemap.html }}
    <style>
        #circlemap {
            height: 500px;
            width: 80%;
            margin: 0;
        }
    </style>
</body>

</html>