<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Revolution</title>
    {{"decoupled-map"|googlemap_js(0, 0, varname="decoupledmap", markers=[(0, 0)])}}
    {{circlemap.js}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <h2>Map with circle example</h2>

    {{ circlemap.html }}
    <style>
        #circlemap {
            height: 500px;
            width: 80%;
            margin: 0;
        }
    </style>
</body>

</html>