
<div class="container">
    <div class="row justify-content-center">
        <h1>Create a New Campground</h1>
    </div>

    <div class="row d-flex justify-content-center">

        <form action="/new_protest" method="POST" style="width:40%">
            <div class="form-group">
                <input class="form-control" type="text" name="address" id="" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" id="" placeholder="image url">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" id="" placeholder="Brief Description">
            </div>
            <div class="form-group">
                <button class="bn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin: 0 30%">
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
