.newContainer {
    margin-top: 3%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    resize: none;
    box-shadow: 2px 2px;
} 

.form-control{
    box-shadow: 2px 2px;
}
.colorButton{
    background-color:  #ffb88c;
    
}